-f https://download.pytorch.org/whl/torch_stable.html
torch>=2.0.1+cu118
accelerate
appdirs
loralib
bitsandbytes==0.39.1
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git@main
sentencepiece
py7zr
scipy
optimum
wandb